
<!DOCTYPE html>

<html lang="en" ng-app="quizzer">

  <head>    
    <meta charset='UTF-8'>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,600,700|Coming+Soon" rel="stylesheet" type="text/css">
    <script src="static/js/app.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/style.css"/>
  </head>

  <body>

    <div ng-view></div>
      
  </body>

</html>
