
<!DOCTYPE html>

<html lang="en" ng-app="quizzer">

  <head>    
    <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="static/angular.min.js"></script>    
    <script src="static/angular-route.min.js"></script>    
    <script src="static/angular-animate.min.js"></script>
    <script src="static/angular-resource.min.js"></script>    
    <script src="static/wanakana.min.js"></script>
    <script src="static/main.js"></script>
    <link rel="stylesheet" type="text/css" href="static/style.css"/>
  </head>

  <body>

    <!-- loading screen -->

    <div class="loading-panel" ng-hide="finished">
      <div class="loading-inner">
        <h1 class="beating">漢字</h1>
        <h4>loading...</h4>
      </div>
    </div>

    <!-- quiz screen -->

    <div id="quiz-panel" ng-controller="QuizController as quiz">

      <span class="blue box">
        <h1 ng-bind="quiz.questions.current.item"></h1>
      </span>

      <h2>{{quiz.questions.current.question}}</h2>

      <!-- IME form -->

      <div ng-ime class="form-group has-feedback ime-form" ng-class="quiz.state">
        <input ng-model="quiz.userInput" type="text" class="form-control input-lg" id="ime" autocapitalize="off">
        <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="quiz.state=='has-success'"></span>
        <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="quiz.state=='has-error'"></span>
      </div>

      <!-- before answering -->
      <div ng-show="!quiz.answered">
        <button class="btn btn-success" ng-click="quiz.attempt()">show</button> 
      </div>

      <!-- after answering correctly -->
      <div ng-show="quiz.state=='has-success'">
        <button class="btn btn-success" ng-click="quiz.next();">next</button>
      </div>

      <!-- after answering incorrectly -->
      <div ng-show="quiz.state=='has-error'">
        <h2 ng-bind="quiz.questions.current.answers"></h2>
        <button class="btn btn-success" ng-click="quiz.next();">next</button> 
      </div>

    </div>
      
  </body>

</html>
