<span class="{$quiz.questions.current.background$} box">
  <h1 ng-bind="quiz.questions.current.character"></h1>
</span>

<h2>{$quiz.questions.current.type$} <strong>{$quiz.questions.current.question$}</strong></h2>

<div class="form-group has-feedback ime-form" ng-class="quiz.state">
  <input ng-model="quiz.answer" type="text" class="form-control input-lg" id="ime" autocapitalize="off">
  <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="quiz.state=='has-success'"></span>
  <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="quiz.state=='has-error'"></span>
</div>

<!-- before answering -->
<div ng-show="!quiz.answered">
  <button class="btn btn-success" ng-click="quiz.attempt()">show</button>
  <button class="btn btn-danger" ng-click="quiz.questions.flag();">flag</button>    
</div>

<!-- after answering correctly -->
<div ng-show="quiz.state=='has-success'">
  <button class="btn btn-success" ng-click="quiz.next();">next</button>
  <button class="btn btn-danger" ng-click="quiz.questions.flag();">flag</button>  
</div>

<!-- after answering incorrectly -->
<div ng-show="quiz.state=='has-error'">
  <h2 ng-bind="quiz.questions.current.answers"></h2>
  <button class="btn btn-success" ng-click="quiz.next();">next</button>
  <button class="btn btn-danger" ng-click="quiz.questions.flag();">flag</button>  
</div>

<div id="counter">{$ quiz.questions.count $}</div>
