
/* animations */

@keyframes heartbeat {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.1, 1.1);
    }
    100% {
        transform: scale(1, 1);
    }   
}

@keyframes dissolve {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

/* global elements */

html, body {
    height: 100%;
}

body {
    font-family: Meiryo;
}

button:hover{
    animation-name: heartbeat;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

/* loading panel */

.loading-panel {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    background-color: #4babf2;
    color: white;
    z-index: 999;
    text-align: center;
}

.loading-panel>.loading-inner {
    display: block;
    top: 25%;
    position: relative;
}

.loading-panel h1 {
    font-size: 20vmin;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.22);
}

.loading-panel.ng-hide-add {
    animation: 0.7s dissolve ease;
}

.beating {
    animation-name: heartbeat;
    animation-duration: 4.5s;
    animation-iteration-count: infinite;
}

/* quiz box */

.box {
    display: inline-block;
    text-align: center;    
    width: 100%;
}

.blue {
    background-color: rgb(0, 161, 241);
    background-image: linear-gradient(rgb(0, 170, 255), rgb(0, 147, 221));
    background-repeat: repeat-x;
    color: white;
    text-shadow: rgb(0, 147, 221) 5px 5px 0px;    
}

.pink {
    background-color: rgb(241, 0, 161);
    background-image: linear-gradient(rgb(255, 0, 170), rgb(221, 0, 147));
    background-repeat: repeat-x;
    color: white;
    text-shadow: rgb(221, 0, 147) 5px 5px 0px;
}

.purple {
    background-color: rgb(161, 0, 241);
    background-image: linear-gradient(rgb(170, 0, 255), rgb(147, 0, 221));
    background-repeat: repeat-x;
    color: white;
    text-shadow: rgb(147, 0, 221) 5px 5px 0px;
}

#quiz-panel {
    text-align: center;
    height: 100%;
}

#quiz-panel>button {
    display: inline-block;
}

#quiz-panel h1 {
    font-size: 32vmin;
}

#quiz-panel h1.ng-leave {
    animation: 0.5s dissolve ease;
}

#quiz-panel h1.ng-mode {
    animation: 0.5s dissolve ease;
}

#quiz-panel h2 {
    font-size: 6vmin;
}

#counter {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 1em;
    font-weight: bold;
}

/* ime control */

.ime-form {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
}

.ime-form>input {
    text-align: center;
}
