
/* animations */

@keyframes heartbeat {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.1, 1.1);
    }
    100% {
        transform: scale(1, 1);
    }   
}

@keyframes dissolve {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

/* global elements */

html, body {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    background-color: #4babf2;
}

h1,h2,h3,h4,h5 {
    font-weight: lighter;
}

/* bootstrap overrides */

.has-success .form-control-feedback {
    color: white;
}

/* loading panel */

.loading-panel {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    background-color: #4babf2;
    z-index: 999;
    text-align: center;
    color: white;
}

.loading-panel>.loading-inner {
    display: block;
    top: 25%;
    position: relative;
}

.loading-panel h1 {
    font-size: 20vmin;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.22);
}

.loading-panel.ng-hide-add {
    animation: 0.7s dissolve ease;
}

.beating {
    animation-name: heartbeat;
    animation-duration: 4.5s;
    animation-iteration-count: infinite;
}

/* quiz box */

.japanese {
    font-family: Meiryo;
}

.box {
    display: inline-block;
    text-align: center;    
    width: 100%;
    text-shadow: rgb(63, 159, 230) 5px 5px 0px;
}

#quiz-panel {
    text-align: center;
    height: 100%;
    color: white;
    vertical-align: middle;
    text-align: center;
    padding-top: 2.5em;
}

#quiz-panel>button {
    display: inline-block;
    color: black;
}

#quiz-panel h1 {
    font-size: 20vmin;
}

#quiz-panel h1.ng-leave {
    animation: 0.5s dissolve ease;
}

#quiz-panel h1.ng-mode {
    animation: 0.5s dissolve ease;
}

#quiz-panel h2 {
    font-size: 6vmin;
}

#counter {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 1em;
    font-weight: bold;
}

/* ime control */

.ime-form {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
}

.ime-form>input, .ime-form>input:focus {
    text-align: center;
    background-color: rgb(75, 171, 242);
    border-width: 0px 0px 1px 0px;
    color: white;
    font-weight: bold;
    border-radius: 1px;
    border-color: #91c7ef !important; /*important to override bootstrap*/
    box-shadow: none !important;
    padding: 0px !important;
}

.ime-form>input::-moz-placeholder {
   color: #91c7ef !important;
   font-weight: normal !important;
   font-style: italic;
}

.icon-button-outline {
    border: 1px solid white;
    border-radius: 100px;
    text-align: center;
    display: inline-block;
    height: 4em;
    width: 4em;
    line-height: 3.9em;
    cursor: pointer;
}

.icon-button {
    font-size: 2em;
    vertical-align: middle;
    margin-left: 6px
}

button.fabulous {
    background-color: rgb(120, 197, 254);
    border: 0px solid white;
    font-size: 2em;
    font-weight: bold;
    border-radius: 3px;
    margin-top: 0.5em;
    padding: 0.2em 0.5em 0.2em 0.5em;
}

button.fabulous:hover {
    animation-name: heartbeat;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

#quiz-panel button.ng-hide-add {
    animation: 0.7s dissolve ease;
}
