
<!DOCTYPE html>

<html lang="en" ng-app="quizzer">

  <head>    
    <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://code.angularjs.org/1.4.7/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.4.7/angular-resource.min.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
  </head>

  <body>

    <div ng-controller="vocabControl as quiz">

      <div class="centered">
        <span class="purple box">
          <h1 ng-bind="quiz.questions.current.character"></h1>
        </span>
        <h2>Vocab <strong>Meaning</strong> and <strong>Reading</strong></h2>
        <h3 ng-show="answered" ng-bind="quiz.questions.current.meaning"></h3>
        <h3 ng-show="answered" ng-bind="quiz.questions.current.kana"></h3>
        <button id="show-button" focus-next="next-button" ng-show="!answered" ng-click="answered=true">show</button>
        <button id="next-button" focus-next="show-button" ng-show="answered" ng-click="quiz.questions.next(); answered=false">next</button>
        
      </div>

      <p>remaining: {$ quiz.questions.count $}</p>
      
    </div>
    
  </body>

</html>
